{% extends "store/base.html" %}

{% block title %}Home - E-commerce{% endblock%}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>

<body>
    {% block content %}
    <h1 class="mt-3">Welcome to E-commerce Project</h1>
    <div class="home-page">
        <a href="{% url 'api_list' %}" class="btn btn-link p-O border-O bg-transparent">
            <img src="{% static 'core/images/logo.png' %}" alt="Logo" class="logo"></a>
        
    </div>
    

    {% endblock %}

</body>

</html>